div(class='d-flex h-100 justify-content-center align-items-center')
  div(class='column w-50 shadow text-center p-4')
    h5(class='my-4') Welcome back
    form(class='text-left' action='/login' method='post')
      div(class='form-group')
        label Username
        input(type='text' class='form-control' name="username" minlength="5" maxlength="30" placeholder='Enter username' required autofocus)
      div(class='form-group')
        label Password
        input(type='password' class='form-control' name="password" maxlength="15" placeholder='Enter password' required)
        small
          a(href='#') Forgot your password?
      button(type='submit' class='btn btn-primary w-100 mt-4') Login
      small Need an account? 
        a(href='/register') Register