head
  title My Site
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css')

  //- chess pieces
  link(rel='stylesheet' type='text/css' href='chess-package/css/chessboard-0.3.0.css')

  //- chess tables
  script(src='chess-package/js/chessboard-0.3.0.js')
  //- script(src='https://code.jquery.com/jquery-1.12.4.min.js')
  //- script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src="http://code.jquery.com/jquery-1.6.2.min.js")


  //- chess move validation/ rules
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js')

  script(src='http://code.jquery.com/jquery-3.3.1.js' integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")

