div(class='d-flex h-100 justify-content-center align-items-center')
  div(class="w-100 mx-4 jumbotron jumbotron-fluid px-2 mt-4 text-center")
    h1(class="display-4 text-priamry") Welcome to ChessMake
    p(class="lead") 
      a(href='/login') Login
      span  or 
      a(href='/register') register
      span  to start playing chess.
    hr(class="my-4")
    p(class="text-muted") ChessMake is a group term-project for CSC 667, Internet Application Design and Development. <br> More info about the team may be found 
      a(href='/about') here
      span .
