div(class='d-flex h-100 justify-content-center')
  div(class='container w-100 p-5')
    h2(class='mb-5') About
    h4 Team 3
    p Team 3 consists of the 5 most capable and most handsome students in CSC 667. The foundation of Team 3 includes working together as a team with complemetary skills in Javascript, HTML, MySQL, and PHP, implementing industry standards in agile development, and utilizing common technologies such as Express, Pug, and Bootstrap to problem solve. 
    
    hr
    h6 Brian Casipit
      small(class='ml-2 font-weight-light text-uppercase') Team Lead
    h6 Jerry Wong
      small(class='ml-2 font-weight-light text-uppercase') Front End Lead
    h6 Thanh Le
      small(class='ml-2 font-weight-light text-uppercase') Front End
    h6 Jay Lee
      small(class='ml-2 font-weight-light text-uppercase') Back End Lead
    h6 Adan Guanlao 
      small(class='ml-2 font-weight-light text-uppercase') Back End and Github Master